.settings_container {
	display: flex;
	z-index: 9999999;
	position: absolute;
	padding-top: var(--padding);
	padding-left: var(--padding);
	padding-right: var(--padding);
	inset: 0px 20px;
	flex-direction: column;
	gap: var(--padding);
	width: 200px;
	background-color: rgba(255, 255, 255, 0.283);
	backdrop-filter: blur(8px);
	height: 145px;
	border-radius: var(--main-radius);
}
.button_settings {
	padding-top: var(--padding);
	padding-left: var(--padding);
	padding-right: var(--padding);
	padding-bottom: var(--padding);
	height: 30px !important;
	display: flex;
	background-color: transparent;
	transition: 0.3s ease;
}
.button_settings:hover {
	background-color: var(--main-blue);
	cursor: pointer;
	transition: 0.3s ease;
}
.button_settings:last-child:hover {
	background-color: rgba(255, 0, 0, 0.246);
	cursor: pointer;
	transition: 0.3s ease;
}
.button_settings p {
	font-size: 12px;
	margin: 0;
}
.button_settings svg {
	width: 20px !important;
	height: 20px !important;
	pointer-events: none;
	margin-left: auto;
}
.button_settings:last-child p {
	color: red;
}
.button_settings:last-child svg {
	color: red;
}
