.header {
	min-width: 200px;
	width: 100px;
	height: 100vh;
	position: sticky;
}

.div_button_list_container {
	padding-top: 20px;
	padding-left: 20px;
	gap: 5%;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}
.time_panel {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	border: 1px solid #1c0e89;
	background-color: white;
	justify-content: center;
	height: 90px;
	width: 100%;
	color: #1c0e89;
	box-sizing: border-box;
}
.time_panel div {
	display: flex;
	margin-bottom: auto;
	gap: 10px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	height: 25px;
	align-items: center;
	justify-content: center;
}
.time_panel span {
	font-size: 20px;
	text-align: center;
}
.time_panel p {
	margin: 0;
	font-size: 50px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 10px;
}

.actions_panel {
	display: flex;
	flex-direction: column;
	gap: 2.5px;
}
.actions_panel button {
	display: flex;
	align-items: center;
	gap: 7.5px;
	height: 35px;
	display: flex;
	border-radius: 10px;
	border: 0;
	background-color: transparent;
	padding: 0;
	padding-left: 5px;
	flex-shrink: 1;
	transition: 0.3s ease;
	will-change: transform;

	&:hover {
		cursor: pointer;
		background-color: #1c0e891a;
		transform: scale(1.02);
		box-shadow: 0 1px 8px #02000c;
		transition: 0.3s ease;
	}
}
.actions_panel button.active {
	background-color: #1c0e891a;
}
.actions_panel svg {
	width: 20px;
	height: 20px;
	color: #1c0e89;
}
.actions_panel p {
	color: #1c0e89;
	font-size: 13px;
	font-weight: 600;
	text-align: center;
	will-change: transform;
}
.user_panel {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
	flex-shrink: 0;
	padding-bottom: 10px;
}
.user_panel button {
	border: 0;
	background-color: transparent;
	padding: 0;
	transition: 0.3s ease;
	will-change: transform;
	border-radius: 10px;
	&:hover {
		cursor: pointer;
		transform: scale(1.05);
		transition: 0.3s ease;
	}
}
.user_panel svg {
	color: #1c0e89;
	width: 30px;
	height: 30px;
}
