:root {
	--main-blue: #0887f71d;
	--main-blue1: #383173e8;
	--main-blue2: #1c0e891a;

	--text-blue: #004cfffa;
	--gray: #8080806c;
	--gray1: #948d8d2f;

	--main-radius: 10px;
	--radius-1: 15px;
	--padding: 5px;
	--padding1: 15px;

	--font-size: 15px;
}
* {
	font-family: 'Open Sans', sans-serif;
}
.div_container {
	display: flex;
	gap: 10px;
}
.div_main {
	width: 100%;
}
