:root {
	--main-blue: #0887f71d;
	--main-blue1: #383173e8;
	--main-blue2: #1c0e891a;
}
* {
	font-family: 'Open Sans', sans-serif;
}
.div_container {
	display: flex;
	gap: 10px;
}
.div_main {
	width: 100%;
}
